table {
    border-collapse: collapse;  
}



td {
    width: 60px;
    height: 30px;
	border: 1px solid black;
    font-size: 14px;
    padding: 2px;
}

tr{
	width: 60px;
	height: 30px;
	border: 1px solid black;
    font-size: 14px;
    padding: 2px;
}